@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1D212B;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1b2141;
    transition: 0.5s;
    z-index: 1000;
}
header.sticky{
    background: #1b2141;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
}
header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
    margin: 10px;
}
header ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
header ul li a:hover{
    background: #1aeeef;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}
header .action .searchBx{
    padding: 3px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: #1aeeef solid 3px;
    border-radius: 30px;
}
header .action .searchBx i{
    font-size: 1.4em;
    margin: 5px;
    color: #222;
}
header .action .searchBx input{
    outline: none;
    border: none;
    font-size: 1em;
    color: #222;
}

/*-------------------------------------------------------------------------*/
section{
    margin-top: 80px;
    height: 600px;
    padding: 20px ;
    display: grid;
    grid-template-columns: auto 500px;
}
section .container .img-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 200px;
    margin-right: 10px;
}

section .container{
    display: flex;
}
.bookmark{
    width: 100%;
    height: 40px;
    margin-top: 20px ;
}
.followers{
    color: white;
    font-size:12px ;
    margin-top: 10px;
}

.rating{
    background-color: #393939;
    padding:0 10px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius:10px ;
    font-size: 14px;
}
.fa-star{
    color:gold;
    font-size: 14px;
}

.status,.type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    background-color: #393939;
    margin-top: 10px;
    width: 100%;
    color: white;
    padding: 0 10px;
    font-size: 14px;
    border-radius:10px ;
}


.info-body .title{
    color:  white;
    font-size: 24px;
    margin-bottom: 20px;
}

.info-body .alternate-titles{
    color: rgba(255, 255, 255, 0.618);
    font-size: 18px;
    margin-bottom: 5px;
}
.info-body .alt-title{
    color: gray;
    font-size: 12px;
    margin-bottom: 20px;
}
.info-body .synopsis-title{
    color: rgba(255, 255, 255, 0.618);
    font-size: 18px;
}
.info-body .synopsis{
    color: gray;
    font-size: 14px;
}
.other-info{
    width: 100%;
}
.row{
    margin-top: 20px;
}
.cols-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.flex{
    display: flex;
    flex-direction: column;
}
.flex .col-title{
    color: white;
}
.flex .col-data{
    color: white;
}

.genres-body{
    width: 100%;
    display: flex;
}
.genre{
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding:0 10px ;
    border-radius: 10px;
    margin-right: 10px;
}
.chapters{
    height: 600px;
    margin-left: 20px;
    background-color: #2b2b2b;
    border-radius: 10px;
    overflow: hidden;
}
.chapter{
    height: 40px;
    border: 1px solid rgba(128, 128, 128, 0.226);
    border-radius: 10px;
}
.chp-heading{
    color: white;
    font-size: 20px;
    display: flex;
    align-items:center ;
    height: 50px;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.618);
}
.chp-container{
    height: 600px;
    overflow-y: scroll;
    padding-left: 20px;
}
.chapter{
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}
/*-------------------------------------------------------------------------*/
.footer{
    margin-top: 40px;
    width: 100%;
    padding: 40px 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer .social{
    text-align: center;
    padding-bottom:25px ;
    color: #4b4c4d;
}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-decoration: none;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 0.9;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    margin-bottom: 0;
}
.footer ul a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer ul li a:hover{
    opacity: 1;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px ;
    color: #ccc;
}